.datatable{
    height: 550px;
    padding: 20px;
    .cellWithImg{
        display: flex;
        align-items: center;
        .cellImg{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px;
        }
    }
    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 13px;
        .viewButton, .editButton, .deleteButton{
            display: inline-block;
            padding: 5px 5px 5px 5px;
            border-radius: 3px;
            border: 1px solid darkgray;
            line-height: 1;
            cursor: pointer;
        }       
        .viewButton{
            color: green;
        } 
        .editButton{
            color: gray;
        }
        .deleteButton{
            color: red;
        }
    }
}