.datatable{
    height: 550px;
    padding: 20px;
    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 13px;
        .viewButton, .editButton, .deleteButton{
            display: inline-block;
            padding: 5px 5px 5px 5px;
            border-radius: 3px;
            border: 1px solid darkgray;
            line-height: 1;
            cursor: pointer;
        }        
    }
}