.adminSingle{
    display: flex;
    width: 100%;
    .singleContainer{
        flex: 6;
        .top{
            padding: 20px;
            display: flex;
            gap: 20px;
            .left{
                flex: 1;
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);            
                padding: 20px;
                position: relative;
                .editButton{
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 5px;
                    cursor: pointer;
                    font-size: 12px;
                    color: rgb(0, 0, 0);
                    background-color: rgb(228, 223, 223);
                    border-radius: 0px 5px 0px 0px;
                }
                .item{
                    display: flex;
                    gap: 20px;
                    .itemImg{
                        height: 150px;
                        width: 150px;
                        border-radius: 50%;
                    }
                    .details{
                        .itemTitle{
                            color: rgb(90, 89, 89);
                            margin-bottom: 10px;
                        }
                        .detailItem{
                            margin-bottom: 10px;
                            font-size: 14px;
                            .itemKey{
                                font-weight: bold;
                                margin-right: 5px;
                                color: gray;
                            }
                            .itemValue{
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
            .right{
                flex:2
            }
        }
        .buttom{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47); 
            padding: 20px;
        }
    }
}