:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}

.navBarSection .header {
  background: transparent;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  z-index: 1000;
}
.navBarSection .header .logoDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navBarSection .header .logoDiv h3 {
  color: white;
  font-style: italic;
  margin-left: 7px;
  line-height: 1.2em;
  font-size: 15px;
  margin-bottom: 0.5em;
  cursor: pointer;
}
.navBarSection .header .logoDiv .logo {
  color: white;
  font-weight: 500;
  cursor: pointer;
  justify-content: center;
}
.navBarSection .header .logoDiv .logo .icon {
  color: var(--PrimaryColor);
  font-size: 25px;
}
.navBarSection .header .logoDiv .logo img {
  width: 35px;
}
.navBarSection .header .toggleNavbar .icon {
  font-size: 30px;
  color: var(--whiteColor);
}
.navBarSection .navBar .navLists .navItem {
  position: relative;
}
.navBarSection .navBar .navLists .navItem .dropdownMenuRight {
  left: auto;
  right: 0;
}
.navBarSection .navBar .navLists .navItem .navLink {
  display: inline-flex;
  align-items: center;
}
.navBarSection .navBar .navLists .navItem .navLink .iconLink {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
}
.navBarSection .navBar .navLists .navItem .navLink:hover .iconLink {
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}
.navBarSection .navBar .navLists .navItem .dropdownMenu {
  margin-top: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  background-color: #012838;
  padding: 10px;
  min-width: 310px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
  z-index: 999;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  font-size: 0.9rem;
  font-weight: 400;
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.6);
}
.navBarSection .navBar .navLists .navItem .dropdownMenu .group1,
.navBarSection .navBar .navLists .navItem .dropdownMenu .group2 {
  display: flex;
  flex-direction: column;
}
.navBarSection .navBar .navLists .navItem .dropdownMenu .group1 li,
.navBarSection .navBar .navLists .navItem .dropdownMenu .group2 li {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 5px;
  white-space: nowrap;
}
.navBarSection .navBar .navLists .navItem .dropdownMenu .group1 li .dropdownLink,
.navBarSection .navBar .navLists .navItem .dropdownMenu .group2 li .dropdownLink {
  display: flex;
  align-items: center;
  padding: 5px;
  text-decoration: none;
  color: #333;
  color: #fff;
  display: inline-flex;
  align-items: center;
}
.navBarSection .navBar .navLists .navItem .dropdownMenu .group1 li .dropdownLink .iconLink,
.navBarSection .navBar .navLists .navItem .dropdownMenu .group2 li .dropdownLink .iconLink {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
}
.navBarSection .navBar .navLists .navItem .dropdownMenu .group1 li .dropdownLink .iconDropdownLink,
.navBarSection .navBar .navLists .navItem .dropdownMenu .group2 li .dropdownLink .iconDropdownLink {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  background-color: #01374d;
  padding: 5px;
  border-radius: 3px;
  font-size: 1.1rem;
}
.navBarSection .navBar .navLists .navItem .dropdownMenu .group1 li .dropdownLink:hover,
.navBarSection .navBar .navLists .navItem .dropdownMenu .group2 li .dropdownLink:hover {
  background-color: #022c5c;
}
.navBarSection .navBar .navLists .navItem .dropdownMenu .group1 li .subDropdownMenu,
.navBarSection .navBar .navLists .navItem .dropdownMenu .group2 li .subDropdownMenu {
  position: absolute;
  top: -10px;
  right: 100%;
  width: auto;
  background-color: #012838;
  padding: 10px;
  margin-right: 10px;
  min-width: 310px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
  z-index: 999;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  font-size: 0.9rem;
  font-weight: 400;
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.6);
}
.navBarSection .navBar .navLists .navItem .dropdownMenu .group1 li .subDropdownMenu li,
.navBarSection .navBar .navLists .navItem .dropdownMenu .group2 li .subDropdownMenu li {
  display: block;
  box-sizing: border-box;
  padding: 5px;
  white-space: nowrap;
}
.navBarSection .navBar .navLists .navItem .dropdownMenu .group1 li .subDropdownMenu .dropdownLink,
.navBarSection .navBar .navLists .navItem .dropdownMenu .group2 li .subDropdownMenu .dropdownLink {
  display: flex;
  align-items: center;
  padding: 5px;
  text-decoration: none;
  color: #333;
  color: #fff;
  display: inline-flex;
  align-items: center;
}
.navBarSection .navBar .navLists .navItem .dropdownMenu .group1 li .subDropdownMenu .dropdownLink .iconLink,
.navBarSection .navBar .navLists .navItem .dropdownMenu .group2 li .subDropdownMenu .dropdownLink .iconLink {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
}
.navBarSection .navBar .navLists .navItem .dropdownMenu .group1 li .subDropdownMenu .dropdownLink .iconDropdownLink,
.navBarSection .navBar .navLists .navItem .dropdownMenu .group2 li .subDropdownMenu .dropdownLink .iconDropdownLink {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  background-color: #01374d;
  padding: 5px;
  border-radius: 3px;
  font-size: 1.1rem;
}
.navBarSection .navBar .navLists .navItem .dropdownMenu .group1 li .subDropdownMenu .subDropDownMenu2,
.navBarSection .navBar .navLists .navItem .dropdownMenu .group2 li .subDropdownMenu .subDropDownMenu2 {
  position: absolute;
  top: 0;
  left: 100%;
  width: auto;
  background-color: #012838;
  padding: 10px;
  margin-left: 10px;
  min-width: 310px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(auto);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
  z-index: 999;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  font-size: 0.9rem;
  font-weight: 400;
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.6);
}
.navBarSection .navBar .navLists .navItem .dropdownMenu .group1 li .subDropdownMenu .subDropDownMenu2 li,
.navBarSection .navBar .navLists .navItem .dropdownMenu .group2 li .subDropdownMenu .subDropDownMenu2 li {
  display: block;
  box-sizing: border-box;
  padding: 5px;
  white-space: nowrap;
}
.navBarSection .navBar .navLists .navItem .dropdownMenu .group1 li li:hover .subDropDownMenu2,
.navBarSection .navBar .navLists .navItem .dropdownMenu .group2 li li:hover .subDropDownMenu2 {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.navBarSection .navBar .navLists .navItem .dropdownMenu .group1 li:hover .subDropdownMenu,
.navBarSection .navBar .navLists .navItem .dropdownMenu .group2 li:hover .subDropdownMenu {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.navBarSection .navBar .navLists .navItem:hover .dropdownMenu {
  display: flex;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.navBarSection .activeHeader {
  background: #fff;
  background-size: cover;
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
}
.navBarSection .activeHeader .logoDiv h3 {
  color: var(--textColor);
}
.navBarSection .activeHeader .navLists .navItem .dropdownMenu {
  background-color: #fff;
}
.navBarSection .activeHeader .navLists .navItem .dropdownMenu .group1 li .dropdownLink,
.navBarSection .activeHeader .navLists .navItem .dropdownMenu .group2 li .dropdownLink {
  color: #524f4f;
}
.navBarSection .activeHeader .navLists .navItem .dropdownMenu .group1 li .dropdownLink .iconDropdownLink,
.navBarSection .activeHeader .navLists .navItem .dropdownMenu .group2 li .dropdownLink .iconDropdownLink {
  background-color: #ffffff;
}
.navBarSection .activeHeader .navLists .navItem .dropdownMenu .group1 li .dropdownLink:hover,
.navBarSection .activeHeader .navLists .navItem .dropdownMenu .group2 li .dropdownLink:hover {
  background-color: #adb3b9;
}
.navBarSection .activeHeader .navLists .navItem .dropdownMenu .group1 li .subDropdownMenu,
.navBarSection .activeHeader .navLists .navItem .dropdownMenu .group2 li .subDropdownMenu {
  background-color: #ffffff;
  color: #524f4f;
  color: #333;
}
.navBarSection .activeHeader .navLists .navItem .dropdownMenu .group1 li .subDropdownMenu .dropdownLink,
.navBarSection .activeHeader .navLists .navItem .dropdownMenu .group2 li .subDropdownMenu .dropdownLink {
  color: #524f4f;
}
.navBarSection .activeHeader .navLists .navItem .dropdownMenu .group1 li .subDropdownMenu .subDropDownMenu2,
.navBarSection .activeHeader .navLists .navItem .dropdownMenu .group2 li .subDropdownMenu .subDropDownMenu2 {
  background-color: #ffffff;
  color: #524f4f;
  color: #333;
}
.navBarSection .activeHeader .navLists .navItem .dropdownMenu .group1 li .subDropdownMenu .subDropDownMenu2 .dropdownLink,
.navBarSection .activeHeader .navLists .navItem .dropdownMenu .group2 li .subDropdownMenu .subDropDownMenu2 .dropdownLink {
  color: #524f4f;
}
.navBarSection .activeHeader .navLists .navItem .dropdown-arrow {
  font-size: 1.2rem;
  font-weight: initial;
  transform: 0.4s;
}
.navBarSection .activeHeader .navLists .navItem .dropdown-link {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--textColor);
  background-color: rgba(129, 129, 129, 0.7333333333);
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.navBarSection .activeHeader .navLists .navItem .dropdown-link:hover {
  background-color: #fff;
}
.navBarSection .activeHeader .navLists .navItem .navLink {
  color: var(--textColor);
}

@media screen and (max-width: 768px) {
  .navBar {
    background: var(--greyBg);
    position: absolute;
    height: -moz-max-content;
    height: max-content;
    padding: 1rem;
    width: 100%;
    top: 0;
    left: -500%;
    box-shadow: 0 2px 4px rgba(209, 209, 209, 0.904);
    transition: 0.5s ease;
    z-index: 1000;
  }
  .navLists {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  .navLists .navItem {
    padding: 1rem 0;
  }
  .navLists .navItem .navLink {
    color: var(--textColor);
    font-size: 0.9rem;
    font-weight: 600;
  }
  .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--PrimaryColor);
  }
  .closeNavbar:hover .icon {
    color: var(--HoverColor);
  }
  .activeNavbar {
    left: 0;
  }
}
@media screen and (min-width: 769px) {
  .toggleNavbar, .closeNavbar {
    display: none;
  }
  .header {
    padding: 1.5rem 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .header .navItem .navLink {
    color: var(--whiteColor);
    padding: 0 0.45rem;
    font-size: 0.9rem;
    font-weight: 400;
  }
  .header .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
}
@media screen and (min-width: 960px) {
  .header .navBar .navLists .navItem {
    padding: 0 0.7rem;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 0.5rem 5.5rem !important;
  }
}/*# sourceMappingURL=navbar.css.map */