:root{
    --PrimaryColor: hsl(26, 93%, 50%);
    --HoverColor: hsl(26, 90%, 42%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
}

.navBarSection{
    .header{
        background: transparent;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: .5rem 1rem;
        z-index: 1000;
        .logoDiv{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            h3{
                color: white;
                font-style: italic;
                margin-left: 7px;
                line-height: 1.2em;
                font-size: 15px;
                margin-bottom: 0.5em;
                cursor: pointer;
            }
            .logo{
                color: white;
                font-weight: 500;
                cursor: pointer;
                justify-content: center;
                .icon{
                    color: var(--PrimaryColor);
                    font-size: 25px;
                }
                img{
                    width: 35px;
                }
            }
        }
        .toggleNavbar{
            .icon{
                font-size: 30px;
                color: var(--whiteColor);
            }
        }
    }
    .navBar{
        .navLists{
            .navItem{
                position: relative;
                .dropdownMenuRight {
                    left: auto;
                    right: 0;
                }
                .navLink{
                    display: inline-flex;
                    align-items: center;
                    .iconLink{
                        display: inline-flex;
                        align-items: center;
                        margin-left: 4px;
                    }
                }
                .navLink:hover .iconLink{
                    transition: transform 0.3s ease;
                    transform: rotate(180deg);
                }
                .dropdownMenu {
                    margin-top: 10px;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: auto;
                    background-color: #012838;
                    padding: 10px;
                    min-width: 310px;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(-20px);
                    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
                    z-index: 999;
                    display: grid;
                    grid-template-columns: 1fr 1fr; 
                    gap: 10px;
                    font-size: .9rem;
                    font-weight: 400;
                    box-shadow: 0 2px 8px 2px rgba(178,178,178,0.60);
                    .group1,
                    .group2 {
                        display: flex;
                        flex-direction: column; 
                        li {
                            position: relative;
                            display: block;
                            box-sizing: border-box;
                            padding: 5px;
                            white-space: nowrap;
                            .dropdownLink {
                                display: flex;
                                align-items: center;
                                padding: 5px;
                                text-decoration: none;
                                color: #333;
                                color: #fff;
                                display: inline-flex;
                                align-items: center;
                                .iconLink{
                                    display: inline-flex;
                                    align-items: center;
                                    margin-left: 4px;
                                }
                                .iconDropdownLink {
                                    display: inline-flex;
                                    align-items: center;
                                    margin-right: 5px;
                                    background-color: #01374d;
                                    padding: 5px;
                                    border-radius: 3px;
                                    font-size: 1.1rem;
                                }
                            }
                            .dropdownLink:hover {
                                background-color: #022c5c;
                            }
                            .subDropdownMenu {
                                position: absolute;
                                top: -10px;
                                right: 100%;
                                width: auto;
                                background-color: #012838;
                                padding: 10px;
                                margin-right: 10px;
                                min-width: 310px;
                                opacity: 0;
                                visibility: hidden;
                                transform: translateY(-20px);
                                transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
                                z-index: 999;
                                display: grid;
                                grid-template-columns: 1fr 1fr; 
                                gap: 10px;
                                font-size: .9rem;
                                font-weight: 400;
                                box-shadow: 0 2px 8px 2px rgba(178,178,178,0.60);
                                li {
                                    display: block;
                                    box-sizing: border-box;
                                    padding: 5px;
                                    white-space: nowrap;
                                }
                                .dropdownLink {
                                    display: flex;
                                    align-items: center;
                                    padding: 5px;
                                    text-decoration: none;
                                    color: #333;
                                    color: #fff;
                                    display: inline-flex;
                                    align-items: center;
                                    .iconLink{
                                        display: inline-flex;
                                        align-items: center;
                                        margin-left: 4px;
                                    }
                                    .iconDropdownLink {
                                        display: inline-flex;
                                        align-items: center;
                                        margin-right: 5px;
                                        background-color: #01374d;
                                        padding: 5px;
                                        border-radius: 3px;
                                        font-size: 1.1rem;
                                    }
                                }
                                .subDropDownMenu2{
                                    position: absolute;
                                    top: 0;
                                    left: 100%;
                                    width: auto;
                                    background-color: #012838;
                                    padding: 10px;
                                    margin-left: 10px;
                                    min-width: 310px;
                                    opacity: 0;
                                    visibility: hidden;
                                    transform: translateY(auto);
                                    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
                                    z-index: 999;
                                    display: grid;
                                    grid-template-columns: 1fr 1fr; 
                                    gap: 10px;
                                    font-size: .9rem;
                                    font-weight: 400;
                                    box-shadow: 0 2px 8px 2px rgba(178,178,178,0.60);
                                    li {
                                        display: block;
                                        box-sizing: border-box;
                                        padding: 5px;
                                        white-space: nowrap;
                                    }
                                }
                            }
                            li:hover .subDropDownMenu2{
                                display: block;
                                opacity: 1;
                                visibility: visible;
                                transform: translateX(0);
                                transition: opacity 0.3s ease, transform 0.3s ease;
                            }
                        }
                        li:hover .subDropdownMenu{
                            display: block;
                            opacity: 1;
                            visibility: visible;
                            transform: translateX(0);
                            transition: opacity 0.3s ease, transform 0.3s ease;
                        }
                    }
                }
            }
            .navItem:hover .dropdownMenu{
                display: flex;
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                transition: opacity 0.3s ease, transform 0.3s ease;
            }  
        }
    }
    .activeHeader{
        .logoDiv{
            h3{
                color: var(--textColor);
            }
        }
        .navLists{
            .navItem{
                .dropdownMenu {
                    background-color: #fff;
                    .group1,
                    .group2 {
                        li {
                            .dropdownLink {
                                color: #524f4f;
                                .iconDropdownLink {
                                    background-color: #ffffff;
                                }
                            }
                            .dropdownLink:hover {
                                background-color: #adb3b9;
                            }
                            .subDropdownMenu {
                                background-color: #ffffff;
                                color: #524f4f;
                                color: #333;
                                .dropdownLink{
                                    color: #524f4f;
                                }
                            }
                        }
                            
                    }
                }               
                .dropdown-arrow{
                    font-size: 1.2rem;
                    font-weight: initial;
                    transform: .4s;
                }
                .dropdown-link{
                    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
                    color: var(--textColor);
                    background-color: #818181bb;
                    display: flex;
                    align-items: center;
                    column-gap: .5rem;
                    &:hover{
                        background-color: #fff;
                    }
                }
                .navLink{
                    color: var(--textColor);
                }
            }
        }
        background: #fff;
        background-size: cover;
        box-shadow: 0 2px 8px 2px rgba(178,178,178,0.45);                  
    }
}

@media screen and (max-width: 768px){
    .navBar{
        background: var(--greyBg);
        position: absolute;
        height: max-content;
        padding: 1rem;
        width: 100%;
        top: 0;
        left: -500%;
        box-shadow: 0 2px 4px rgba(209,209,209,0.904);
        transition: .5s ease;
        z-index: 1000;
    }
    .navLists{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;
        .navItem{
            padding: 1rem 0;
            .navLink{
                color: var(--textColor);
                font-size: .9rem;
                font-weight: 600;
                &:hover{
                    color: var(--PrimaryColor);
                }
            }
        }
    }
    .closeNavbar{
        position:absolute;
        top: 1rem;
        right: 1.5rem;
        color: var(--PrimaryColor);
        &:hover .icon{
            color: var(--HoverColor);
        }
    }
    .activeNavbar{
        left: 0;
    }
}

@media screen and (min-width:769px){
    .toggleNavbar, .closeNavbar{
        display: none;
    }
    .header{
        padding: 1.5rem 2rem;   
        align-items: center;
        justify-content: center;
        flex-direction: row;
        .navItem{
            .navLink{
                color: var(--whiteColor);
                padding: 0 .45rem;
                font-size: .9rem;
                font-weight: 400;
                &:hover{
                    color: var(--PrimaryColor);
                }
            }
        }
    }
}

@media screen and (min-width:960px){
    .header{
        .navBar{
            .navLists{
                .navItem{
                    padding: 0 .7rem;
                }
            }
        }
    }
}

@media screen and (min-width:1024px){
    .header{
        padding: .5rem 5.5rem !important;
        .navBar{
            .navLists{
                .navItem{
                    .navLink{
                        
                    }
                }
            }
        }
    }
}
