.status{
    padding: 5px;
    border-radius: 5px;
    &.draft{
        color: red;
        background-color: rgb(250, 200, 200);
    }
    &.published{
        color: green;
        background-color: rgb(215, 252, 186);
    }
    &.archived{
        color: rgb(231, 93, 0);
        background-color: rgb(255, 226, 188);
    }
}